.product {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 1rem;
  min-width: 300px;
  max-width: 300px;
  background-color: rgb(214, 211, 211);
}

.product .productImg{
  display: flex;
  justify-content: center;
}

.productImg img{
  width: 12rem;
  height: 14rem;
}

.description{
  background-color: white;
  width: 98%;
  border-radius: 0.8rem;
  margin: 0.2rem auto;
  padding: 0.1rem 1rem;
}

.description h3 {
  font-size: 1.3rem;
  font-weight: 500;
  /* line-height: 1.5rem; */
}

.description h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.2rem 0;
}

.description input{
  width: 3rem;
  outline: none;
  border: 2px solid rgb(240, 238, 238);
  border-radius: 0.2rem;
  margin: 0.2rem 0.5rem;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
}

.cartButton{
  padding: 0 0.5rem;
}

.product button {
  border: none;
  outline: none;
  background-color: red;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem auto;
  width: 99%;
}

.product button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .product {
    min-width: 250px;
    max-width: 250px;
  }

  .productImg img{
    width: 11rem;
    height: 14rem;
  }
}

@media screen and (max-width: 700px) {
  .product {
    min-width: 270px;
    max-width: 270px;
  }

  .productImg img{
    width: 10rem;
    height: 13rem;
  }
}


