.productSection{
    width: 95%;
    /* border: 2px solid red; */
    margin: 1rem auto;
}

.loading{
    font-size: 1.5rem;
    text-align: center;
}

.heading h2{
    font-weight: 400;
    text-align: center;
}

.productSection_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


