.cartItem{
    width: 95%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items:center;
    gap: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    border: 2px solid red;
}

.cartItemDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.cartItemImage{
    width: 40%;
}

.cartItemDescription h3{
    font-size: 1.2rem;
    font-weight: 400;
}

.cartItemImage img{
    display: block;
    width: 7rem;
    margin: auto;
    height: 7rem;
}

@media screen and (max-width: 700px) {
    .cartItemDescription h3{
        font-size: 1rem;
    }
    /* .cartItem{
        flex-direction: column;
    } */
}