.features{
    width: 95%;
    display: flex;
    background-color: rgb(237, 247, 247);
    justify-content: space-evenly;
    margin: 1rem auto;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature h3{
    font-size: 1rem;
    font-weight: 400;
}

.feature img{
    height: 3rem;
    width: 3rem;
}

@media screen and (max-width: 900px) {
    .features{
        display: none;
    }
}
