.nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  height: 4rem;
  padding: 0.1rem;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 5px rgb(174, 172, 172);
  z-index: 999;
}

.logo{
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav .navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navbar ul li {
  margin: 0rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar ul li:hover {
  border-bottom: 2px solid black;
}

.cartButton {
  display: flex;
  align-items: center;
}

.cartButton button {
  width: 10rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 0.2rem;
  border: 1px solid black;
  background-color: transparent;
}

.cartButton span {
  padding: 0.2rem 1rem;
  margin: 0rem 1rem;
  border-radius: 1rem;
  background-color: red;
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .logo img{
    height: 1.8rem;;
  }
}
